.card {
  border-radius: var(--br-rounded);
  color: inherit;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow var(--delay);

  &:hover {
    box-shadow: var(--shadow);
  }

  &:hover .card__image {
    transform: scale(1.2);
  }

  &__image-container {
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__image {
    width: 100%;
    height: inherit;
    border-start-start-radius: var(--br-rounded);
    border-start-end-radius: var(--br-rounded);
    object-fit: contain;
    transition: transform var(--delay);
  }

  &__info {
    padding: 1em;
  }

  &__title {
    margin: 0;
    margin-block-end: 0.5em;
    font-size: var(--fs-h2);
    font-weight: 500;
    line-height: var(--lead-intro);
    letter-spacing: var(--track-intro);
  }

  &__note {
    font-size: var(--fs-small);
    font-weight: 300;
  }
}

@media only screen and (min-width: 600px) {
  .card {
    &__image-container {
      height: 25vh;
    }
  }
}

@media only screen and (min-width: 900px) {
  .card {
    &__image-container {
      height: 30vh;
    }
  }
}
