.deadend {
  text-align: center;

  &__image {
    margin-inline: auto;
  }

  &__title {
    display: block;
    margin-block-end: 0.5em;
    font-size: var(--fs-results);

    &--small {
      margin-block-end: 0;
      font-size: var(--fs-h2);
    }
  }
}
