.questions {
  &__container {
    padding-block-end: 2em;
  }

  &__title {
    font-size: var(--fs-h2);
    font-weight: 500;
    margin-block-end: 1em;
  }

  &__options {
    list-style-type: upper-latin;
    list-style-type: none;
    counter-reset: dotlesscounter;
  }

  &__option {
    display: flex;
    margin-block-end: 1em;
    background-color: var(--bg-search);
    transition: box-shadow var(--delay);
    cursor: pointer;

    &:hover {
      box-shadow: var(--shadow);
    }

    &:last-child {
      margin-block-end: 0;
    }

    &::before {
      content: counter(dotlesscounter, upper-latin) ' ';
      counter-increment: dotlesscounter;
      display: flex;
      align-items: center;
      padding-block: 0.5em;
      padding-inline-start: 0.75em;
      padding-inline-end: 0.75em;
      font-weight: 500;
      background-color: var(--clr-bisque);
    }
  }

  &__definition {
    padding-block: 0.5em;
    padding-inline-start: 0.5em;
  }
}

@media only screen and (min-width: 600px) {
  .questions {
    &__list {
      width: 60%;
    }
  }
}

@media only screen and (min-width: 900px) {
  .questions {
    &__title {
      width: 70%;
    }

    &__list {
      width: 50%;
    }
  }
}
