.results {
  min-height: calc(100vh - 12em);
  display: grid;
  place-items: center;
  text-align: center;
  margin-block-end: 2em;

  &__intro {
    margin: 0;
    margin-block-end: 1em;
    font-size: var(--fs-h1);
    font-weight: 500;
  }

  &__total {
    display: block;
    margin-block-end: 0.5em;
    font-size: var(--fs-results);
    font-weight: 700;
  }

  &__key {
    margin-block-end: 2.5em;
  }
}
