.page-header {
  padding-block: 2em;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
  }

  &__title {
    margin: 0;
    font-size: var(--fs-h1);
    font-weight: 700;
    line-height: var(--lead-intro);
    letter-spacing: var(--track-intro);
  }
}
