<script setup>
import image2_3 from '../assets/images/question2_3.jpg'
import image2_8 from '../assets/images/question2_8.jpg'
import image2_10 from '../assets/images/question2_10.jpg'
import image3_6 from '../assets/images/question3_6.jpg'
import image3_7 from '../assets/images/question3_7.jpg'
import image3_9 from '../assets/images/question3_9.jpg'
import image3_10 from '../assets/images/question3_10.jpg'

const props = defineProps(['question', 'category'])

let images = {
  image2_3,
  image2_8,
  image2_10,
  image3_6,
  image3_7,
  image3_9,
  image3_10
}

const emit = defineEmits(['selectedOption'])

const emitSelectedOption = (isCorrect, option) => {
  emit('selectedOption', isCorrect, option)
}
</script>

<template>
  <main class="questions">
    <div class="container">
      <dl class="questions__container">
        <dt class="questions__title">
          {{ props.question.text }}
          <vue-mathjax v-if="props.question.formula" :formula="props.question.formula" />
          <img
            v-if="images[`image${props.category.id}_${props.question.id}`]"
            :src="images[`image${props.category.id}_${props.question.id}`]"
          />
        </dt>
        <dd class="questions__list">
          <ol class="questions__options">
            <li
              v-for="answer in props.question.options"
              :key="answer.id"
              @click="emitSelectedOption(answer.isCorrect, answer.label)"
              class="questions__option"
            >
              <span class="questions__definition">
                {{ answer.text }}
                <vue-mathjax v-if="answer.formula" :formula="answer.formula" />
              </span>
            </li>
          </ol>
        </dd>
      </dl>
    </div>
  </main>
</template>
