<script setup>
import { RouterLink } from 'vue-router'

const props = defineProps(['numberOfCorrectAnswers', 'questionsLength', 'questions', 'answers'])
</script>

<template>
  <main class="results">
    <div class="container">
      <p class="results__intro">Результаты:</p>
      <strong class="results__total"
        >{{ props.numberOfCorrectAnswers }}/{{ props.questionsLength }}</strong
      >
      <table class="chart results__key">
        <caption class="chart__title">
          Ответы:
        </caption>
        <thead>
          <tr>
            <th class="chart__column chart__header">#</th>
            <th class="chart__column chart__header">Ваш ответ</th>
            <th class="chart__column chart__header">Правильный ответ</th>
          </tr>
        </thead>
        <tbody class="chart__content">
          <tr v-for="question in props.questions" :key="question.id" class="chart__line">
            <td class="chart__column">{{ question.id }}</td>
            <td
              v-for="answer in props.answers"
              :key="answer.id"
              v-show="answer.id === question.id"
              class="chart__column"
              :class="{ 'chart__column--incorrect': !answer.isCorrect }"
            >
              {{ answer.label }}
            </td>
            <td
              v-for="option in question.options"
              :key="option.id"
              v-show="option.isCorrect"
              class="chart__column"
            >
              {{ option.label }}
            </td>
          </tr>
        </tbody>
      </table>
      <RouterLink to="/" class="link">Вернуться на Главную</RouterLink>
    </div>
  </main>
</template>
